

 
@model WebApplication7.Models.EmployeeVM
@{ 

    ViewBag.Title = "create";
}

<form asp-action="Edit" method="post" asp-controller="Employee" class="form-group">


    <label>Name Of Employee</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span class="text-danger" asp-validation-for="Name"></span>
    <br /><br />

    <label asp-for="Salary">Employee Salary</label>
    <input type="text" asp-for="Salary" class="form-control" />
    <span class="text-danger" asp-validation-for="Salary"></span>
    <br /><br />

    <label>Adreess Of Employee</label>
    <input type="text" class="form-control" asp-for="Address" />
    <span class="text-danger" asp-validation-for="Address"></span>


    <div class="custom-control custom-checkbox">
        <input type="checkbox" asp-for="IsActive" class="custom-control-input">
        <label class="custom-control-label" asp-for="IsActive"> Is Active</label>
    </div>

    <label>Hire date Of Employee</label>
    <input type="date" class="form-control" asp-for="HireDate" />
    <span class="text-danger" asp-validation-for="HireDate"></span>


    <label>Email Of Employee</label>
    <input type="email" class="form-control" asp-for="Email" />
    <span class="text-danger" asp-validation-for="Email"></span>

    <br />
    <br />
    <label asp-for="DepId">Department</label>

    <select asp-for="DepId"   asp-items="@(SelectList)ViewBag.Deps">
        <option>Choose Department..</option>
    </select>



    <label>Country</label>
    <select id="CountryId" asp-items="@(SelectList)ViewBag.country">
        <option>Choose Country</option>
    </select>
    <br /><br />


    <label>City</label>
    <select id="CityId">
        <option>Choose City</option>
    </select>
    <br /><br />


    <label asp-for="DistrictId">District</label>
    <select asp-for="DistrictId">
        <option>Choose District</option>
    </select>
    <span class="text-danger" asp-validation-for="DistrictId"></span>
    <br /><br />


     

    <br />
    <center>
        <input type="submit" value="Save" class="btn btn-primary" />
    </center>

</form>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>

    $(function () {

        // Get City Data
        $("#CountryId").change(function () {

            $("#CityId").empty();
            $("#CityId").append("<option>Choose City</option>");

            var countryId = $("#CountryId").val(); 

            $.ajax({

                type: "POST",
                url: "/EmployeeService/getCitiesByCountryId",
                data: { id: countryId },
                success: function (res) {

                    $.each(res, function (i, e) {

                        $("#CityId").append("<option value='" + e.Id + "'>" + e.Name+"</option>");

                    });

                }

            });

        });


        // Get District Data
        $("#CityId").change(function () {

            $("#DistrictId").empty();
            $("#DistrictId").append("<option>Choose District</option>");

            var cityId = $("#CityId").val();

            $.ajax({

                type: "POST",
                url: "/EmployeeService/getDistrictsByCitiyId",
                data: { id: cityId },
                success: function (res) {

                    $.each(res, function (i, e) {

                        $("#DistrictId").append("<option value='" + e.Id + "'>" + e.Name + "</option>");

                    });

                }

            });

        });

    });


</script>